<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <title>单词详情</title>
    <script>
        var onResize = function () {
            $("body").css("margin-top", $(".navbar").height() + 10);
        };
        $(window).resize(onResize);
        $(function () {
            onResize();
        });
    </script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">英语单词学习助手</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">英语单词学习助手</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/index">首页</a></li>
                <li class="active"><a href="/wordlist">单词列表</a></li>
                <li><a href="/wordsearch">单词搜索</a></li>
                <li><a href="/paratranslate">段落翻译</a></li>
                <li><a href="/wordtest">单词测试</a></li>
            </ul>
        </div>
    </div>
</nav>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>{{ word }}</h2>
            </div>
            <div class="col-md-2">
                <h3>单词等级：</h3>
            </div>
            <div class="col-md-2" id="stars">
            </div>
        </div>
    </div>

    <div class="container" style="padding-top: 20px;">
        <ul class="nav nav-tabs" role="tablist" style="margin: 10px 10px 10px 10px;">
            <li role="presentation" class="active"><a href="#word_tran" aria-controls="word_tran" role="tab" data-toggle="tab">单词翻译</a></li>
            <li role="presentation"><a href="#word_sent" aria-controls="word_sent" role="tab" data-toggle="tab">单词例句</a></li>
            {% if word_id == 1 or word_id == 3101 %}
                <li role="presentation"><a href="#word_img" aria-controls="word_img" role="tab" data-toggle="tab">单词图片</a></li>
            {% endif %}
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="word_tran">
                <ul style="list-style:none;">
                    {% for word_tran_info in word_tran %}
                        <li>{{ word_tran_info.0 }}    {{ word_tran_info.1 }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="word_sent">
                <ol>
                    {% for word_sent_info in word_sent %}
                        <li><i>{{ word_sent_info.0 }}</i> <br> {{ word_sent_info.1 }}</li>
                    {% endfor %}
                </ol>
            </div>
            {% if word_id == 1  %}
            <div role="tabpanel" class="tab-pane" id="word_img">
                <img src="https://gss0.baidu.com/70cFfyinKgQFm2e88IuM_a/forum/w=580/sign=25e6c58bd509b3deebbfe460fcbe6cd3/5a26b7003af33a879af862f9c25c10385243b55f.jpg">
            </div>
            {% endif %}
            {% if word_id == 3101  %}
            <div role="tabpanel" class="tab-pane" id="word_img">
                <img src="https://pic2.zhimg.com/v2-554a5f0d79cba3cd0f0295e7e4edcea1_1440w.jpg?source=172ae18b">
            </div>
            {% endif %}

        </div>
    <hr class="featurette-divider">
    <footer class="text-center">
        <p>© 2021 ZhouYiguo · sduwh · <a href="/admin" target="_blank">后台管理</a> · <a href="https://www.hiyiguo.cn" target="_blank">个人博客</a></p>
    </footer>

    </div>
</body>

<script>
    var stars = "{{ word_levels }}";
    console.log(stars);
    switch (stars) {
        case 'level_1':
            $('#stars').html('<h3 class="text-left"><span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>')
            break;
        case 'level_2':
            $('#stars').html('<h3 class="text-left"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>')
            break;
        case 'level_3':
            $('#stars').html('<h3 class="text-left"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>')
            break;
        case 'level_4':
            $('#stars').html('<h3 class="text-left"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>')
            break;
        case 'level_5':
            $('#stars').html('<h3 class="text-left"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span>' +
                '<span class="glyphicon glyphicon-star" aria-hidden="true"></span></h3>')
            break;
        default:
            $('#stars').html('未知')
            break;
    }

</script>

</html>